{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}

    <h2><b>Приветствую!</b></h2>
    <br />
    <img src="{% static 'app/img/Albina.jpg' %}" alt="Logo">
    <br />
    <p>Данный сайт создан с целью освоения технологий веб 2.0.</p>
    <br />
    <ul>
        <li>Используемый язык программирования: Python 3.6.</li>
        <li>Используемый фреймворк: Django.</li>
    </ul>
    <br />
    <hr noshade>
    <p>Дополнительные ресурсы <a href="{% url 'home' %}"><i>здесь</i></a>.</p>

{% endblock %}
