{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<br />
<br/>
<br/>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">

    <ol class="carousel-indicators">

        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

        <li data-target="#myCarousel" data-slide-to="1"></li>

        <li data-target="#myCarousel" data-slide-to="2"></li>

        <li data-target="#myCarousel" data-slide-to="3"></li>

    </ol>

    <div class="carousel-inner" role="listbox">

        <div class="item active">

            <img src="{% static 'app/img/codecombat.png'%} " alt="Первый слайд" class="img-responsive" />

            <div class="carousel-caption" role="option">

                <p>

                    Codecombat

                    <a class="btn btn-default" href="/4">

                        Читать далее

                    </a>

                </p>

            </div>

        </div>

        <div class="item">

            <img src="{% static 'app/img/codewars.jpg'%}" alt="Второй слайд"  class="img-responsive" />

            <div class="carousel-caption" role="option">

                <p>

                    Codewars

                    <a class="btn btn-default" href="/2">

                        Читать далее

                    </a>

                </p>

            </div>

        </div>

        <div class="item">

            <img src=" {% static 'app/img/spoj.jpg'%} " alt="Третий слайд"  class="img-responsive" />

            <div class="carousel-caption" role="option">

                <p>

                    Текст для баннера 3

                    <a class="btn btn-default" href="/3">

                        Читать далее

                    </a>

                </p>

            </div>

        </div>

    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">

        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

        <span class="sr-only">Назад</span>

    </a>

    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">

        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

        <span class="sr-only">Далее</span>

    </a>

</div>


<div class="jumbotron">
    <h1>Полезные ресурсы для обучения Python:</h1>
    <p class="lead">Здесь Вы можете узнать о бесплатных ресурсах для изучения Python.</p>
    <p><a href="about" class="btn btn-primary btn-large">О сайте</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Курсы Openedu</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://courses.openedu.ru" target="_blank"><img src="{% static 'app/img/edu_favicon.ico' %}" alt="Logo 1"/></a></p>
    </div>
    <div class="col-md-4">
        <h2>Академия <br/>JetBrains</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://hyperskill.org" target="_blank"><img src="{% static 'app/img/hyperskill_favicon.png' %}" alt="Logo 1"/></a></p>
    </div>
    <div class="col-md-4">
        <h2>Задачник Codewars</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://www.codewars.com" target="_blank"><img src="{% static 'app/img/codewars_favicon.png' %}" alt="Logo 1"/></a></p>
    </div>
</div>

{% endblock %}
